<body style="
    background: #009688;
">
<h1>burger do ze</h1>
burger do ze<br>
Hoje a aula esta sendo bacana<br>
<img src="https://blog.saipos.com/wp-content/uploads/2018/07/hamburgueria1-SAIPOS-Sistema-para-Restaurantes.png" style="
    width: 238PX;
">  
</body> 
